.sort-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.sort-options .sort-button {
  display: flex;
  padding: 6px 6px 6px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 15px;
  border: 0.5px solid #E7E9EF;
  background: white;
  color: #464A52;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.046px;
  cursor: pointer;
}

.sort-options .sort-button::after {
  content: attr(data-arrow);
  font-size: 12px;
  color: var(--text-dark);
}

.sort-button .mgc_down_fill,
.sort-button .mgc_up_fill {
  font-size: 15px;
}

.sort-button .mgc_down_fill::before,
.sort-button .mgc_up_fill::before {
  font-size: 15px;
  color: #9BA2B1 !important;
}

