.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  flex: 1;
}

.tab-item.camera-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  height: 100%;
}

