.text-extraction-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px);
    padding: 20px;
    box-sizing: border-box;
}

.text-extraction-loading-page {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.loading-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 0 20px;
    background-color: var(--White, #FFFFFF);
}

.loading-header h3 {
    align-self: stretch;
    color: var(--Black, #1A1A1A);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin: 0px;
}

.loading-header p {
    align-self: stretch;
    color: rgba(26, 26, 26, 0.80);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    margin: 0px;
}

.loading-content {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.75px;
}