.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.sectionHeader p {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}

.moreLink {
    font-size: 14px;
    color: #a0a0a0;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
}

.moreLink .mgc_right_line {
    font-size: 16px;
    color: #a0a0a0;
}

.moreLink .mgc_right_line::before {
    color: #a0a0a0 !important;
}

.myReadingCards {
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    min-height: 200px;
}

.horizontalScrollContainer {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 150px;
    align-items: flex-start;
    gap: 10px;
}

.horizontalScrollContainer::-webkit-scrollbar {
    width: 100%;
    display: none;
}

.readingCardItem {
    flex-shrink: 0;
    width: 125px;
    text-align: start;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.cardThumbnail {
    width: 125px;
    height: 125px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.cardThumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardText {
    font-size: 12px;
    color: #555;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
    height: 2.8em;
    margin: 0;
    font-weight: normal;
}

.loadingMessage,
.errorMessage,
.noCardsMessage {
    width: 100%;
    text-align: center;
    color: #777;
    margin: 20px 0;
    font-size: 14px;
    font-family: Pretendard;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorMessage {
    color: #dc3545;
}
