.reading-card-grid-item {
    border-radius: 9px;
    background: var(--Grey_2, #E7E9EF);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.grid-image-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.grid-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.private-badge {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.private-badge .mgc_lock_fill::before {
    color: #ffffff !important;
    font-size: 20px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.8));
}

.grid-item-title {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: auto;
}

.reading-card-grid-item:has(.grid-image-wrapper img:not([src]):not([srcset])) .grid-image-wrapper {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 0.8em;
}

.reading-card-grid-item:has(.grid-image-wrapper img:not([src]):not([srcset])) .grid-image-wrapper::after {
    content: "No Image";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #aaa;
}