/* PostBookSearchPage 페이지별 고유 스타일 */

/* 섹션 제목 스타일 (PostBookSearchPage 전용) */
.section-title {
    text-align: left;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}
