<<<<<<< HEAD

=======
>>>>>>> 1adf8f743cfb03f7aa00a1dfe599c07ea629d9da
.comments-section {
  padding: 15px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 480px) {
  .comments-section {
    padding: 15px;
  }
}