body {
  margin: 0;
  font-family: Pretendard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: Pretendard;
}

.dummy-box {
  width: 30px;
  height: 20px;
}

