body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

@font-face {
    font-family: 'Gungsuh';
    src: url('../../public/fonts/ChosunGs.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url('../../public/fonts/NanumSquareR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cafe24 Ssurround';
    src: url('../../public/fonts/GmarketSansTTFMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galmuri';
    src: url('../../public/fonts/Galmuri9-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jalnan';
    src: url('../../public/fonts/Jalnan2TTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

