:root {
  --primary-green: #0CE19A;
  --primary-purple: #391BE2;
  --dark-purple: #311CA8;
  --light-purple: #9B90E9;
  --very-light-purple: #D6D1F6;
  --light-gray: #DBDFE4;
  --light-gray-2: #F4F5F7;

  --main-color: var(--primary-purple);
  --secondary-color: var(--light-purple);
  --accent-color: var(--primary-green);
  --background-light: var(--very-light-purple);
  --text-dark: #333;
  --text-dark-gray: #6A717B;
  --text-light: #666;
  --border-gray: #F4F5F7;
  --border-color: #eee;
  --border-light: #E7E9EF;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

