/* src/pages/BookAddPage.css */
/* 공통 스타일은 src/styles/components/book-detail.css에서 import됨 */
.book-detail-title {
    color: var(--Black, #1A1A1A);
    font-size: 20px;
}

.book-info-detail-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    gap: 5px;
}

.book-title-display {
    color: var(--Black, #1A1A1A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    margin: 0px;

    text-align: start;
}

.book-author-display {
    color: rgba(26, 26, 26, 0.80);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;

    text-align: start;
}

.add-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.add-book-button {
    display: flex;
    width: 350px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border: none;
    border-radius: 6px;
    background: var(--primary-green);

    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;

    cursor: pointer;
}

.add-book-button:hover {
    background: #09C189;
    box-shadow: 0 4px 10px rgba(0, 225, 154, 0.3);
}