
.login-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 60px 0;
}

.login-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.login-tagline {
    color: #0C0F14;
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
    opacity: 0.8;
}

.login-logo {
    width: 170px;
    height: auto;
}

.login-buttons-container {
    display: inline-flex;
    min-height: 100px;
    width: 300px;
    padding: 0px 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.social-login-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.2s ease;
    outline: none;
}
.social-login-button.kakao {
    background-color: #FEE500;
    color: #000;
    height: 45px;
    padding: 0;
}
.social-login-button.naver {
    display: flex;
    width: 300px;
    height: 45px;
    padding: 0px 35px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background-color: #03C75A;
    color: #fff;
}

.kakao-social-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
}

/* 네이버 아이콘 */
.naver-social-icon {
    width: 18px;
    height: 18px;
}

.kakao-social-text {
    color: #000;
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    flex-grow: 1;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.naver-social-text {
    color: var(--naver-text, #FFF);
    font-family: "Pretendard";
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
}