.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 10px 5px 25px 5px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.modal-question {
    color: #000;

    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal-info {
    width: 70%;

    color: #7C7C7C;

    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.modal-actions-delete {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.modal-actions-delete button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    flex: 1;
    max-width: 150px;
}

.modal-actions-delete .cancel-button {
    background-color: #E7E9EF;
    color: var(--Grey_1, #9BA2B1);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.modal-actions-delete .delete-button {
    background-color: #0CE19A;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
}

.modal-actions-delete button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

