.floating-camera-button-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1002;
}

@media screen and (min-width: 768px) {
  .floating-camera-button-wrapper {
    display: none;
  }
}

.floating-camera-button {
  display: flex;
  width: 54px;
  height: 54px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--gr, linear-gradient(163deg, #0CE189 11.43%, #0EB36F 95.34%));
  border: none;
  cursor: pointer;
}

.floating-camera-text {
  color: var(--Grey_1, #9BA2B1);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}