.hero-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 16px 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 2;
  box-sizing: border-box;
}

.hero-header>.icon:first-child {
  width: 40px;
  height: 40px;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-icons button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0px;
  margin: 0px;
}

.header-icons button span::before{
  width: 30px;
  height: 30px;
}

.header-icons .mgc_search_2_fill,
.header-icons .mgc_notification_fill {
  font-size: 20px;
}

.header-icons .mgc_search_2_fill::before,
.header-icons .mgc_notification_fill::before {
  font-size: 22px;
  color: #6A717B !important;
}

.main-icon {
  width: 48px;
  height: 14px;
  border: none;
  background: none;
  cursor: pointer;
}

.my-page-button {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  overflow: hidden;
  padding: 0 !important;
}

.my-page-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-bar-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-notificationl-icon {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
