.bookshelf-list-full {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bookshelf-list-full::-webkit-scrollbar {
    display: none;
}

.bookshelf-item-full {
    height: 140px;
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    align-items: flex-start;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.bookshelf-item-full .book-cover-large {
    width: 90px;
    height: 135px;
    flex-shrink: 0;
    margin-right: 15px;
    background-color: #f0f0f0;
}

.bookshelf-item-full .book-cover-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.bookshelf-item-full .book-details-full {
    flex-grow: 1;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bookshelf-item-full .book-title-full {
    color: var(--Black, #1A1A1A);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 5px 0;
    line-height: 1.4;
    max-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bookshelf-item-full .book-author-full {
    font-size: 13px;
    color: #777;
    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-state-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-status-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.book-status-info .book-status {
    font-size: 11px;
    color: rgba(32, 220, 85, 0.70);
    background: rgba(32, 220, 85, 0.10);
    padding: 3px 8px;
    border-radius: 12px;
    margin-right: 8px;
    white-space: nowrap;
}
.book-status-info .book-status.독서중 {
    background-color: #20DC551A;
}
.book-status-info .book-status.독서완료 {
    background-color: #547a99;
}

.book-status-info .book-date {
    font-size: 11px;
    color: #888;
    white-space: nowrap;
}

.no-books-message {
    text-align: center;
    color: #777;
    padding: 20px;
    font-size: 14px;
    font-family: Pretendard;
}