html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (min-width: 768px) {
  .App {
    max-width: 100%;
    margin: 0;
    overflow-x: auto;
    align-items: flex-start;
  }
  
  .App.has-sidebar {
    padding-left: 250px;
  }

}

.App::-webkit-scrollbar {
  display: none;
}

.no-cards-message {
  text-align: center;
  color: #888;
  margin-top: 50px;
  width: 100%;
  grid-column: 1 / -1;
}