/* 전체 페이지 스크롤바 숨기기 */
html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  /* padding-top: 50px; (필요에 따라 조절) */
  min-height: 100vh;
  /* 뷰포트 높이 전체를 차지하도록 유지 */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 중앙 정렬 */
  justify-content: flex-start;
  position: relative;
  /* TabBar 높이(80px) + bottom(20px) = 100px (이 부분은 유지) */

  /* 중요: 앱의 최대 너비를 고정하고 중앙 정렬 */
  max-width: 450px;
  /* 모바일 앱 스케일에 맞춰 적절한 최대 너비 설정 */
  margin: 0 auto;
  /* 좌우 마진 자동 설정으로 가운데 정렬 */
  overflow-x: hidden;
  /* 가로 스크롤만 방지 */

  /* 스크롤바 숨기기 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* PC 버전 (768px 이상) */
@media screen and (min-width: 768px) {
  .App {
    max-width: 100%;
    margin: 0;
    padding-left: 250px;
    /* 사이드바 너비만큼 공간 확보 */
    overflow-x: auto;
    align-items: flex-start;
    /* 중앙 정렬 해제 */
  }

  /* 탭바 숨기기 */
  .tab-bar-container {
    display: none !important;
  }
}


/* Webkit 브라우저(Chrome, Safari)에서 스크롤바 숨기기 */
.App::-webkit-scrollbar {
  display: none;
}

/* TabBar 컨테이너는 화면 하단에 고정되어야 합니다. */
.tab-bar-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  justify-content: space-between;
  padding: 4px 20px 16px 20px;
  align-items: center;
  height: 80px;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 -2px 10px var(--shadow-color);
  z-index: 1000;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px;
}

/* 탭 아이템 스케일 고정 */
.tab-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #9BA2B1CC;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 300;
  line-height: 140%;
  transition: color 0.3s ease;
  position: relative;
  gap: 5px;
}

.tab-item.active {
  color: var(--accent-color);
  font-weight: 500;
}

.tab-item-icon {
  width: 26px;
  height: 26px;
  margin-bottom: 4px;
  transition: color 0.3s ease;
  color: #9BA2B1CC;
}

.tab-item-icon.active {
  color: var(--accent-color);
}

/* 더미 탭 아이템 스타일 (카메라 버튼을 위한 빈 공간) */
.dummy-tab-item {
  flex-grow: 1;
  width: 10px;
  height: 40px;
  background-color: transparent;
  pointer-events: none;
  position: relative;
  z-index: 1000;
}

.no-cards-message {
  text-align: center;
  color: #888;
  margin-top: 50px;
  width: 100%;
  grid-column: 1 / -1;
}