/* src/index.css */
@import 'mingcute_icon/font/Mingcute.css';

/* 공통 스타일 import */
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/layout.css';
@import './styles/components/loading.css';
@import './styles/components/headers.css';
@import './styles/components/buttons.css';
@import './styles/components/tabs.css';
@import './styles/components/book-list.css';
@import './styles/components/book-detail.css';
@import './styles/components/selection-area.css';
@import './styles/components/sort.css';
@import './styles/components/search.css';